* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.top {
    height: 1024px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url("img/fon\ head.jpg");
}
.heading__top {
    padding-top: 217px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
}
.heading__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}
.heading__text_top {
    padding-top: 32px;
}

.button {
    /* margin-top: 44px; */
    width: 234.06px;
    height: 48.6px;
    background: #9C0332;
    border-radius: 30px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
}
.button:hover {
    cursor: url("img/Vector.svg"), pointer;  
}
.button_go {
    margin-top: 44px;
}

.game {
    min-height: 556px;
    background: #000915;
}

.game__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    padding-bottom: 128px;
}
.game__item {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    width: 378px;
    height: 300px;
    display: flex;
    box-sizing: border-box;
}
.game__item:hover {
    cursor: url("img/Vector.svg"), pointer;
    border: 3px solid #44D2FF;
    border-radius: 16px;
}
.game__item_1 {
    background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/game1.jpg);
    border-radius: 16px;
}
.game__item_2 {
    background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/game2.jpg);
    border-radius: 16px;
}
.game__item_3 {
    background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/game3.jpg);
    border-radius: 16px;
}

.game__link {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    text-decoration-line: none;
    padding-top: 236px;
    padding-left: 32px;
}

/* game time of year */
.gameTimeOfYear {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 135px;
    padding-top: 282px;
    padding-bottom: 282px;
}

.gameTimeOfYear__box {
    width: 584px;
}
.heading__game {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
}
.heading__text_game {
    padding-top: 32px;
}
.button_play {
    margin-top: 32px;
}

/*game remember words */

.gameRememberWords {
    padding-top: 240px;
    padding-bottom: 242px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 149px;
}
.gameRememberWords__box {
    width: 588px;
    padding-top: 40px;
}


@media (max-width: 425px) {
.center {
    padding-left: 16px;
    padding-right: 16px;
  }
.top {
    height: 735px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading__top {
    font-style: normal;
    font-weight: 700;   
    font-size: 32px;
    line-height: 39px;
    padding-top: 238px;
    text-align: center;
}
.heading__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}
.button {
    border: none;
}
.game__box {
    padding-bottom: 0;
}
.game__item {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    width: 343px;
    height: 300px;
    display: flex;
    box-sizing: border-box;
}

.gameTimeOfYear {
    padding-top: 178px;
    padding-bottom: 85px;
    display: flex;
    justify-content: center;
    row-gap: 0;
}
.gameTimeOfYear__box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 343px;
}
.heading__game {
    text-align: center;
}
.gameTimeOfYear__draw {
    padding-top: 64px;
}
.picture {
    width: 344px;
    height: 236px;
}
.gameRememberWords {
    padding-top: 51px;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    row-gap: 0;
}
.gameRememberWords__box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 343px;
}
.gameRememberWords__draw {
    padding-top: 64px;
}
.heading__game_rememberWords {
    padding-top: 0;
}

}
